{% extends 'index.html' %}

{% block title %}  Appoint.... {% endblock %}

{% block content %}

{% if msg == 4 %}
    <h1> all slots are reserve</h1>
{% endif %}

<div class="container mt-5">
    {% if messages %}
        {% for mess in messages %}
            <h1 class="alert">{{mess}}</h1>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            
            <form action="" method="post">
                {% csrf_token %}
                Name : <input type="text" name="name" class="form-control" />
                contact : <input type="number" name="cnumber" class="form-control" />
                For_What : <input type="text" name="what" class="form-control" />
                slot : <select name='slot' class='form-select'>
                    {% for i in slots %}
                        {% if i not in aslots %}
                          <option>{{i}}</option>
                        {% endif %}
                    {% endfor %}
                     
                        
                        </select>
                <input type="submit" value="Submit" class="btn btn-success" />
            </form>
        </div>
        <div class="col-lg-6">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>A Booking For</th>
                    <th>Contact</th>
                    <th>Date</th>
                    <th>Appointment Slot</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.reason}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.date}}</td>
                    <td>{{i.slot}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
   
</div>

<div class="container ah" onmouseout="hide()" onmouseover="show()">
    <div class="alert alert-danger text-center">
        <h3>Previous Appointments</h3>
    </div>

    <table class="table table-dark">
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reason</th>
            <th>Slot</th>
            <th>Doctor Note</th>
        </tr>
        {% for i in history %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td>{{i.reason}}</td>
            <td>{{i.slot}}</td>
            <td>{{i.doct_notes}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<script>
    function show(){
        var ds = document.getElementsByClassName('ah')[0]
        ds.style.display = 'block'
    }
    function hide(){
        var ds = document.getElementsByClassName('ah')[0]
        ds.style.display = 'none'
    }
</script>

{% endblock %}

