{% extends 'index.html' %}

{% block title %} Notes   {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="offset-3 col-lg-6">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Date</th>
                </tr>
                
                <tr>
                    <td>{{da.name}}</td>
                    <td>{{da.contact}}</td>
                    <td>{{da.date}}</td>
                </tr>
                
            </table>
             <form action="" method="post">
                {% csrf_token %}
                Notes:<textarea class="form-control" name="note"></textarea>
                <input type="submit" value="Done" class="btn btn-success" />
             </form>
        </div>
    </div>
</div>

{% endblock %}